* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1A1A1A;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1A1A1A;
    text-align: center;
    padding-top: 180px; 
}

/* Header */
.header {
    text-align: center;
}

.header-logo {
    margin-top: 64px;
    width: 600px;
}

.countdown {
    font-size: 4rem;
    font-weight: 700;
}

.countdown .row {
    padding: 0;
    margin: 0;
}

.countdown .timer {
    color: white;
    line-height: 0.8;
}

.countdown .headline {
    font-size: 2.8rem;
    color: #444;
}

.countdown .comma {
    color: #444;
}

.countdown .days .gradient{
    background-image: linear-gradient(90deg,  #2AF598 0%,#08AEEA 100%);
}

.countdown .hours .gradient {
    background-image: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
}

.countdown .gradient {
    color: rgba(0, 0, 0, 0);
    background-clip: border-box;
    -webkit-background-clip: text;
}

.header-register {
    margin-top: 48px;
}

.header-register .btn {
    border-radius: 24px;
    font-weight: 700;
}

.header-scroll {
    margin-top: 96px;
    margin-bottom: 64px;
    width: 48px;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

@media (max-width: 575.98px) { 
    .countdown .timer {
        line-height: 1;
    }    

    .countdown .headline {
        font-size: 1.5rem;
    }

    .countdown .comma {
        visibility: hidden;
    }

    .countdown .days {
        display: block;
    }

    .countdown .hours {
        display: block;
    }

    .header-register {
        margin-top: 24px;
    }
    
    .header-scroll {
        margin-top: 56px;
    }
}

/* Upnext */
.upnext {
    height: 480px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

/* Timeline */
.timeline {
    background-color: #111111;
    color: #EEEEEE;
    padding-bottom: 160px;
}

.timeline .timeline-title {
    padding-top: 120px;
    font-size: 96px;
    font-weight: 600;
}

.timeline .item {
    margin-top: 120px; 
    padding: 36px;
    background-color: #2A2A2A;
    -webkit-box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.4);
    box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.4);
}

.timeline .item-date { 
    color: #888888;
    font-size: 24px;
}

.timeline .item-title {
    color: white;
    font-size: 64px;
}

.timeline .item-des {
    margin-top: 24px;
}

.timeline .item-status {
    margin-top: 36px;
    font-size: 24px;
    font-weight: 700;
    color: #AAAAAA;
}

.timeline .status-completed {
    color: greenyellow;
}

@media (max-width: 575.98px) { 
    .timeline {
        padding-bottom: 72px;
    }

    .timeline .timeline-title {
        padding-top: 72px;
        font-size: 72px;
    }    

    .timeline .item {
        margin-top: 64px;
    }

    .timeline .item-title {
        font-size: 48px;
    }
}

/* Floating */
.floating {
    position: relative;
    width: 100%;
}

.floating .floating-item {
    position: absolute;
}

.floating .floating-blue {
    right: 32px;
    padding-top: 320px;
}

.floating .floating-blue-inner {
    transform: rotateZ(45deg);
    width: 180px;
    height: 180px;
    min-height: 180px;
    background-image: linear-gradient(to right, #428bca 0%, #2575fc 100%);
}

.floating .floating-green {
    padding-top: 720px;
}

.floating .floating-green-inner {
    transform: rotateZ(45deg);
    width: 320px;
    height: 320px;
    min-height: 320px;
    background-image: linear-gradient(to right, #78dd51 0%, #78ff51 100%);
}

.floating .floating-red {
    padding-top: 1720px;
    right: 64px;
}

.floating .floating-red-inner {
    transform: rotateZ(45deg);
    width: 270px;
    height: 270px;
    min-height: 270px;
    background-image: linear-gradient(to right, #e22367 0%, #ff2367 100%);
}

.floating .floating-yellow {
    padding-top: 2048px;
    left: 72px;
}

.floating .floating-yellow-inner {
    transform: rotateZ(45deg);
    width: 180px;
    height: 180px;
    min-height: 180px;
    background-image: linear-gradient(to right, #fded40 0%, #fdbd40 100%);
}

/* Prizes */
.prizes {
    background-color: #111111;
    color: #EEEEEE;
    padding-bottom: 200px;
}

.prizes .prizes-title {
    padding-top: 48px;
    font-size: 96px;
    font-weight: 600;
}

.prizes .prizes-medal {
    padding-top: 24px;
    font-size: 72px;
    font-weight: 700;
}

.prizes .prizes-medal .prizes-medal-head {
    font-weight: 500;
    color: #111111;
}
            
.prizes .prizes-medal .prizes-medal-value {
    display: inline;
}

.prizes .prizes-medal .gold {
    background-color: #f9ff60;
    background-image: linear-gradient(to right, #f9ff60 0%, #ffef77 74%);
}

.prizes .prizes-medal .sliver {
    background-image: linear-gradient(to right, #cfd9df 0%, #e2ebf0 100%);
}

.prizes .prizes-medal .bronze {
    background-image: linear-gradient(to right, #c79081 0%, #dfa579 100%);
}

@media (max-width: 575.98px) { 
    .prizes {
        padding-bottom: 160px;
    }
    
    .prizes .prizes-title {
        padding-top: 72px;
        font-size: 72px;
    }    
    
    .prizes .prizes-medal {
        padding-top: 48px;
        font-size: 48px;
        font-weight: 700;
    }

    .prizes .prizes-medal .prizes-medal-head {
        margin-top: 48px;
    }

    .prizes .prizes-medal .prizes-medal-value {
        display: block;
    }
}

/* Sponsors */
.sponsors {
    background: white;
    padding-bottom: 160px;
}

.sponsors .sponsors-title {
    padding-top: 120px;
    font-size: 96px;
    font-weight: 600;
}

.sponsors .sponsors-title {
    padding-top: 120px;
    font-size: 96px;
    font-weight: 600;
}

.sponsors .sponsors-item-title {
    padding-top: 36px;
    margin-bottom: 24px;
    font-size: 48px;
}

.sponsors .sponsor-item-des {
    padding-top: 24px;
    color: #555555;
}

@media (max-width: 575.98px) { 
    .sponsors {
        padding-bottom: 160px;
    }
    
    .sponsors .sponsors-title {
        padding-top: 72px;
        font-size: 72px;
    }    

    .sponsors .sponsors-item-title {
        padding-top: 36px;
        margin-bottom: 24px;
        font-size: 36px;
    }
}